<div class="container-fluid">
    <div class="row">
        <form class="col-3" novalidate [formGroup]="selectCityForm">
            <ul class="list-group" style="height: 100vh; overflow: auto" btnRadioGroup formControlName="selectedCity">
                <li [btnRadio]="city" role="option" tabindex="0" *ngFor="let city of worldCities"
                    class="list-group-item">
                    {{ city.name }}, {{city.country}}
                </li>
            </ul>
        </form>
        <app-osm-search class=" col-4" [search]="search" (featuresSelected)="onFeaturesSelected($event)">
        </app-osm-search>
        <app-leaflet-geo-highlight class="col" [geoJSON]="selectedFeatures"></app-leaflet-geo-highlight>
    </div>
</div>
<div #d3container></div>